<div class="bg-dark mt-3 lm-2 border border-primary rounded-sm ml-1" style="height: 20em;">

    <ul class="nav flex-column">
        <li class="nav-item border border-primary">
            <a href="/usuarios" class="nav-link active">Usuários</a>
        </li>
        <li class="nav-item border border-primary">
            <a href="/produtos" class="nav-link active">Produtos</a>
        </li>
        <li class="nav-item border border-primary">
            <a href="/marcas" class="nav-link active">Marcas</a>
        </li>
        <li class="nav-item border border-primary">
            <a href="/imagens" class="nav-link active">Imagens</a>
        </li>
    </ul>

</div>